<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>


<!-- SHOWCASE -->
    <div class="showcase container">
      <div class="row blue">
        <div class="col s12 m10 offset-m1 center">
          <h5>Welcome to Express Tut- Maps </h5>
          <h2>With Materialize</h2>
          <p></p>
          <br>
        </div>
      </div>
    </div>
<div class="container">
	<div class="row">
    <div class="col s12 m12">
      <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		    	<!-- Inserted Dynamic Places In Image -->
		      <img src="https://maps.googleapis.com/maps/api/staticmap?size=700x300&markers=<%=place%>" alt="map of <%=place%>">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">World Map<i class="material-icons right">more_vert</i></span>
		      <p><a href="#">This is a <%=place%></a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Street Map<i class="material-icons right">close</i></span>
			      <div class="card-image waves-effect waves-block waves-light">
			      	<!-- Inserted Dynamic Places In Image -->
			      	<img class="activator" src="https://maps.googleapis.com/maps/api/streetview?size=700x300&location=<%=place%>" alt="street view of <%=place%>">
			      </div>
      
    	</div>
   </div>	
</div>
</div>



</div>



  <!--JavaScript at end of body for optimized loading-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>

